*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
 
  }

  .floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); }
}

.nav-header{
	background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(74,48,151,1) 50%, rgba(44,95,177,1) 100%);
}